<div *ngIf="!isUserLogged; else userLogged">
  <ul class="nav-links">
    <li>
      <a class="login" href="/login">Entrar</a>
    </li>
    <li>
      <a href="/cadastro" class="register-link">Cadastrar</a>
    </li>
  </ul>
</div>

<ng-template class="template" #userLogged>
  <div class="card" (click)="toggleMenu()">
    <div class="card-content">
      <div>
        <img class="icon" src="img-one.png" alt="">
      </div>
      <div class="card-name">
        {{username}}
      </div>
    </div>

    <div *ngIf="showMenu" class="menu-options">
      <ul>
        <li><a href="/perfil">Perfil</a></li>
        <li><a href="/configuracoes">Configurações</a></li>
        <li><a href="/lista">Meus Pacientes</a></li>
        <li (click)="logout()">LogOut</li>
      </ul>
    </div>
  </div>
</ng-template>
