/* Estilos gerais para o header */
header {
  background-color: rgb(92, 92, 92);
  padding: 0.1% 1%;
  position: relative;
  backdrop-filter: blur(10px);
  width: 100%;
}

/* Estilos para o nav */
nav {
  display: flex; /* Usando flexbox para layout */
  justify-content: space-between; /* Espaço entre a logo e os links */
  align-items: center; /* Alinhamento vertical */
}

/* Estilos para a logo e nome da marca */
.logo {
  display: flex; /* Permite alinhar a imagem e o texto em linha */
  align-items: center; /* Alinha verticalmente a imagem e o texto */
}

.logo img {
  width: 10%; /* Largura da imagem da logo */
  height: auto; /* Mantém a proporção da imagem */
  margin-right: 10px; /* Espaçamento à direita da imagem */
}

.brand {
  display: flex;
  flex-direction: column; /* Organiza o nome e descrição em coluna */
}

.brand-name {
  font-size: 1.5em; /* Tamanho do texto do nome da marca */
  font-weight: bold; /* Negrito para destacar o nome */
  color: rgb(255, 255, 255); /* Cor do texto */
  text-decoration: none; /* Remove o sublinhado do link */
  padding-top: 1dvh;
}

.brand-description {
  font-size: 0.9em; /* Tamanho da descrição */
  color: white; /* Cor cinza para a descrição */
}

