/* Estilos gerais para o header */
header {
  background-color: #0000006b;
  padding: 0.1% 1%;
  position: relative;
  backdrop-filter: blur(5px);
  width: 100%;
}


nav {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}


.logo {
  display: flex; 
  align-items: center; 
}

.logo img {
  width: 6%; 
  height: auto;
  margin-right: 10px;
}

.brand {
  height: 6.5dvh;
  display: flex;
  flex-direction: column; 
}

.brand-name {
  font-size: 1.3em; 
  font-weight: bold; 
  color: rgb(255, 255, 255); 
  text-decoration: none; 
  padding-top: 1dvh;
}

.brand-description {
  font-size: 0.8em; 
  color: white; 
}

