<div class="prontuario-container">
  <div class="card">
    <div class="prancheta">
      <header class="header-card">
        <h2>Prontuário do Paciente</h2>
      </header>
      <div class="foto-container">
        <img src="img-one.png" alt="Foto do Paciente" class="foto-paciente"/>
      </div>
      <section class="informacoes-paciente">
        <p><strong>Nome:</strong> {{ paciente.nome }}</p>
        <p><strong>Idade:</strong> {{ paciente.idade }} anos</p>
        <p><strong>Tipo Sanguíneo:</strong> {{ paciente.tipoSanguineo }}</p>
        <p><strong>CPF:</strong> {{ paciente.cpf }}</p>
        <p><strong>Endereço:</strong> {{ paciente.endereco }}</p>
        <button (click)="toggleEditar()">Editar Informações</button>
      </section>
    </div>

    <div class="dados-adicionais">
      <nav class="abas-container">
        <button
          *ngFor="let aba of abas"
          [class.ativa]="aba === abaSelecionada"
          (click)="selecionarAba(aba)"
        >
          {{ aba }}
        </button>
      </nav>
      <div class="conteudo-aba">
        <div *ngIf="abaSelecionada === 'Comorbidades'">
          <p>Conteúdo da aba: Comorbidades</p>
        </div>
        <div *ngIf="abaSelecionada === 'Alergias conhecidas'">
          <p>Conteúdo da aba: Alergias conhecidas</p>
        </div>
        <!-- Adicione outras seções conforme necessário -->
      </div>
    </div>
  </div>
</div>
