<div class="container">
    <h1 class="title">Desenvolvedores</h1>
    <div class="cards">
      <div class="card" *ngFor="let developer of developers">
        <img [src]="developer.photo" alt="" class="photo" />
        <h3>{{ developer.name }}</h3>
        <p>{{ developer.contact }}</p>
        <p>{{ developer.email }}</p>
        <a href="{{developer.linkGithub}}">{{ developer.github }}</a>
        <a href="{{developer.linkLinkedin}}">{{ developer.linkedin }}</a>

        
      </div>
    </div>
  </div>
  