<div class="container">
    <h1 class="title">Desenvolvedores</h1>
    <div class="cards">
      <div class="card" *ngFor="let developer of developers">
        <img [src]="developer.photo" alt="" class="photo" />
        <h3>{{ developer.name }}</h3>
        <section class="contacts">
          <p class="contact-item"><img src="telefone.png" alt="">{{ developer.contact }}</p>
          <p class="contact-item"><img src="e-mail.png" alt="">{{ developer.email }}</p>
          <a class="contact-item" href="{{developer.linkGithub}}"><img src="github.png" alt="">{{ developer.github }}</a>
          <a class="contact-item" href="{{developer.linkLinkedin}}"><img src="linkedin.png" alt="">{{ developer.linkedin }}</a>
        </section>

        
      </div>
    </div>
</div>
  