<div>
    <div *ngIf="showCards" class="cardPaciente">
        <p class="wellcome">Bem vindo {{usuario}}</p>
        <div class="proxPaciente">
            <div class="infoPaciente">
                <h5>Próximo Paciente</h5>
                <p><strong>Nome:</strong> {{proxPaciente}}</p>
                <p><strong>Data:</strong> {{dataProxPaciente}}</p>
                <div class="posicionador">
                    <p><strong>Hora:</strong> {{horaProxPaciente}}</p>
                    <a (click)="showPaciente()" class="expandir"><img class="mais" src="mais.png"></a>
                </div>
            </div>
            
        </div>

    </div>
</div>

<!-- Expansão do card ao clicar no botão de expandir -->

<div *ngIf="showPacienteWorkspace"   class="paciente">


    <div class="menuEsquerdo">

        <div class="fotoDados">
            <div class="fotoPerfil">
                <img id="fotoPerfil" src="img-paciente.png" alt="foto Paciente">
            </div>
            <div class="informacoesPrincipais">
                <p><strong>Nome:</strong> {{proxPaciente}}</p>
                <p><strong>Cpf:</strong> 567.678.456-82</p>
                <p><strong>Rg:</strong> 9119654</p>
                <p><strong>Idade:</strong>27</p>
                <p><strong>Sexo:</strong>M</p>
                <p><strong>Tipo Sanguíneo:</strong> A+</p>
            </div>
        </div>

        <!-- Lista de Consultas realizadas -->
        <div class="consultas">

            <div class="titulo">
                <h3>Últimas consultas:</h3>
                <span><img class="uploadIcon" src="upload.png" alt=""></span>
            </div>
        
            <ul>
            <li *ngFor="let consulta of ultimasConsultas">
                <span class="data">{{ consulta.data }}</span>
                <span class="hora">{{ consulta.hora }}</span>
                <span class="paciente">{{ consulta.paciente }}</span>
                <span><img class="uploadIcon" src="download.png" alt=""></span>
            </li>
            </ul>
        </div>

        <div class="consultaHipocrates">
            <h6>Deseja um resumo do paciente?</h6>
            <div class="cardHipocrates">
                <img class="image-hipocrates" src="image-hipocrates.png" alt="">

                <div class="labelHipocrates">
                    <strong>Pergunte ao Hipócrates:</strong>
                    <textarea class="txt-area-hipocrates" name="text" id="textHipocrates"></textarea>
                </div>
                <a href="botaoEnviar"><img id="botaoEnviar" src="enviar.png" alt="botão enviar"></a>
            </div>
        </div>

    </div>

    <div class="menuDireito">
        <nav class="abas-container">
            <button
            *ngFor="let aba of abas"
            [class.ativa]="aba === abaSelecionada"
            (click)="selecionarAba(aba)">
            {{ aba }}
            </button>
        </nav>


        <div class="abasContent">
            <div *ngIf="showInfo" class="informacoesDetalhadas">
                <h5>Dados para contato</h5>
                <p><strong>Endereço: </strong>Rua da Catuaba, 147</p>
                <p><strong>Email: </strong>{{email}}</p>
                <p><strong>Celular: </strong>(81) 98765-4321</p>
                <p><strong>Telefone: </strong>(81) 3456-1234</p>
                <p><strong>Nº Cartão SUS: </strong>123</p>
            </div>

            <div *ngIf="showMedicamentos" class="medicamentos">
                Dipirona
            </div>


            <div *ngIf="showCirurgias" class="historicoCirurgia">
                Cirurgias
            </div>

            <div *ngIf="showVacinas" class="vacinas">
                Vacinas
            </div>

            <div *ngIf="showDiagnostico" class="diagnostico">
                Diagnostico
            </div>

            <div *ngIf="showHistorico" class="historicoIntern">
                internações
            </div>

            <div *ngIf="showExames" class="exames">

                <div class="consultas">
                    <div class="titulo">
                        <h3>Exames de Sangue:</h3>
                        <span><img class="uploadIcon" src="upload.png" alt=""></span>
                    
                    </div>
                    <ul>
                    <li *ngFor="let consulta of ultimasConsultas">
                        <span class="data">{{ consulta.data }}</span>
                        <span class="hora">{{ consulta.hora }}</span>
                        <span class="paciente">{{ consulta.paciente }}</span>
                        <span><img class="uploadIcon" src="download.png" alt=""></span>
                    </li>
                    </ul>
                </div>
            </div>

            <div *ngIf="showExamesLab" class="examesLab">
                Exames Laboratoriais
            </div>

    </div>

</div>

