.content{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/006/713/084/small_2x/abstract-health-science-consist-doctor-digital-technology-concept-modern-medical-technology-treatment-medicine-on-hi-tech-future-blue-background-for-template-web-design-or-presentation-vector.jpg);
    height: 100dvh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    & .card-login{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    }
}
