<div class="resultados">
    <h5 class="titulo"></h5>
    <p><strong>Hemograma completo: </strong>Normal.</p>
    <p><strong>Glicemia de jejum: </strong> 145 mg/dL (alterada).</p>
    <p><strong>Hemoglobina glicada: </strong>7,5% (controle regular do diabetes).</p>
    <p><strong>Colesterol total: </strong>210 mg/dL (levemente elevado).<br>
        <li>HDL: 45 mg/dL (baixo).</li>
        <li>LDL: 140 mg/dL (elevado).</li>
        <li>Triglicerídeos: 180 mg/dL (elevado).</li> </p>
    <p><strong>Creatinina sérica: </strong>1,1 mg/dL (normal).</p>
    <p><strong>Função hepática (TGO/TGP): </strong>Normal.</p>
    <p><strong>Exame de urina (EAS): </strong>Sem alterações</p>
    <p><strong>TSH: </strong>2,0 µU/mL (normal).</p>
</div>
