.top {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  text-align: center; 
  margin-bottom: 1%; 
}

.top .imagem {
  margin-bottom: 1.2%; 
}

.top .imagem img {
  max-width: 100%; 
  height: auto; 
  border-radius: 9px 9px 0 0; 
}

.row {
  display: flex; 
  flex-wrap: wrap; 
}

.top h3 {
  font-size: 1.7rem; 
  margin: 0;
  padding-bottom: 3%;
}

.top p {
  font-size: 1rem; 
  margin: 0; 
}

form {
  width: 100%; 
  margin: auto;  
  font-size: 0.54rem; 
  display: grid; 
  grid-template-columns: 1fr; 
  gap: 0.6rem; 

}

.form-group {
  margin-bottom: 0.6rem; 
}

label {
  font-size: 1rem; 
}

input, textarea {
  font-size: 0.9rem; 
  padding: 0.3rem; 
  width: 100%; 
}

.btn {
  font-size: 0.6rem; 
  padding: 0.3rem 0.6rem; 
  width: 60%; 
}

.text-center {
  margin-top: 10px;
}

.custom-button {
  width: 28%; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #265468; 
  border-color: #265468; 
  font-size: 1.0rem;
}

.custom-button:hover {
  background-color: #5f8f9c; 
  border-color: #5f8f9c; 
}

.btn-success{
  background-color: #265468;
  border-color: #5f8f9c; 
  width: 7dvw;
  height: 4dvh;
  font-size: 1rem;
}

.btn-secondary{
  width: 7dvw;
  height: 4dvh;
  font-size: 1rem;
}

.btn-success:hover{
  background-color: #5f8f9c; 
  border-color: #5f8f9c; 
}

@media(max-width: 768px){
  .btn-success{
    width: 17dvw;
    height: 5dvh;
  }
  
  .btn-secondary{
    width: 17dvw;
    height: 5dvh;
  }
}