.lista-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  position: relative; /* Define a posição relativa para os filhos absolutos se posicionarem corretamente */
}

.btn-info {
  background-color: #265468;
  border-color: #265468;
  color: #fff;
  margin-bottom: 15px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.btn-info:hover {
  background-color: #5f8f9c;
  border-color: #5f8f9c;
}

.lista-content {
  position: fixed;
  top: 70px; /* Ajuste conforme a altura do cabeçalho */
  right: 20px;
  width: 34%;
  max-width: 100%;
  z-index: 1000;
  overflow: auto;
  max-height: calc(100vh - 80px);
  margin-top: 0.5%;
}

.card-header {
  background-color: #265468;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Define a largura fixa */
    height: 400px; /* Define a altura fixa */
    overflow-y: auto; /* Adiciona barra de rolagem para o conteúdo interno */
}

.table {
  margin: 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
}

.table th {
  background-color: white;
  color: #265468;
  text-align: left;
  padding: 10px;
  white-space: nowrap;
}

.table td {
  text-align: left;
  padding: 8px;
  border: none;
  white-space: nowrap;
}

.table tbody tr {
  background-color: black !important;
}

.table tbody tr:hover {
  background-color: #c0c0c0;
}

.bold-text {
  font-weight: bold;
}

.btn {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
}

.btn-transparent {
  background-color: transparent !important;
  border: none !important;
  color: gray !important;
  cursor: pointer;
  padding: 0;
}

.btn-transparent:hover {
  color: #265468 !important;
}

.icon {
  font-size: 20px;
  color: gray;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f0f0f0;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
}

.icons {
  display: flex;
  align-items: center;
  text-align: center;
}

.icons-color2 {
  color: red;
}

.icons-color1 {
  color: #265468;
}

@media (max-width: 480px) {
  .table th, .table td {
    font-size: 12px;
  }
  .circle {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  .btn-info {
    font-size: 12px;
    padding: 6px 12px;
  }
  .card-header h6 {
    font-size: 16px;
  }
  .lista-content {
    width: 90%; /* Ajusta a largura para telas menores */
    left: 5%; /* Centraliza na tela */
  }
}

