<div class="lista-container">
  <button (click)="toggleList()" class="btn btn-info">
    {{ showList ? 'Ocultar Lista' : 'Mostrar Lista' }}
  </button>

  <div *ngIf="showList" class="lista-content">
    <div class="card-header">
      <h6>Lista de Pacientes</h6>
      <!-- Campo de pesquisa -->
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Pesquisar paciente"
        class="form-control"
      />
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th>Código PIN</th>
                <th>Nome</th>
                <th>Contato</th>
                <th>Email</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of filteredEmployeeList()">
                <td>{{ item.codigoPin }}</td>
                <td>
                  <div *ngIf="!item.isEditing" class="bold-text">{{ item.nome }}</div>
                  <input *ngIf="item.isEditing" [(ngModel)]="item.nome" />
                </td>
                <td>
                  <div *ngIf="!item.isEditing">{{ item.celular }}</div>
                  <input *ngIf="item.isEditing" [(ngModel)]="item.celular" />
                </td>
                <td>
                  <div *ngIf="!item.isEditing">{{ item.email }}</div>
                  <input *ngIf="item.isEditing" [(ngModel)]="item.email" />
                </td>
                <td>
                  <button *ngIf="!item.isEditing" (click)="editPaciente(item)" class="btn btn-transparent me-2" aria-label="Editar paciente">
                    <span class="material-icons">edit</span>Editar
                  </button>
                  <button *ngIf="item.isEditing" (click)="saveEdit(item)" class="btn btn-success me-2" aria-label="Salvar alterações">Salvar</button>
                  <button *ngIf="item.isEditing" (click)="cancelEdit(item)" class="btn btn-secondary me-2" aria-label="Cancelar edição">Cancelar</button>
                  <button (click)="deletePaciente(item.codigoPin)" class="btn btn-transparent" aria-label="Excluir paciente">
                    <span class="material-icons">delete</span>Excluir
                  </button>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
