<div class="lista-container">
  <button (click)="toggleList()" class="btn btn-info">
    {{ showList ? 'Ocultar Lista' : 'Mostrar Lista' }}
  </button>

  <div *ngIf="showList" class="lista-content">
    <div class="card-header bg-success">
      <h6>Lista de Pacientes</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Código PIN</th>
                <th>Nome</th>
                <th>Contato</th>
                <th>Email</th>
                <th>Ações</th> <!-- Nova coluna para ações -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of employeeList">
                <td>{{ item.codigoPin }}</td>
                <td>
                  <div *ngIf="!item.isEditing">{{ item.nome }}</div>
                  <input *ngIf="item.isEditing" [(ngModel)]="item.nome" />
                </td>
                <td>
                  <div *ngIf="!item.isEditing">{{ item.celular }}</div>
                  <input *ngIf="item.isEditing" [(ngModel)]="item.celular" />
                </td>
                <td>
                  <div *ngIf="!item.isEditing">{{ item.email }}</div>
                  <input *ngIf="item.isEditing" [(ngModel)]="item.email" />
                </td>
                <td>
                  <button *ngIf="!item.isEditing" (click)="editPaciente(item)" class="btn btn-primary">Editar</button>
                  <button *ngIf="item.isEditing" (click)="saveEdit(item)" class="btn btn-success">Salvar</button>
                  <button *ngIf="item.isEditing" (click)="cancelEdit(item)" class="btn btn-secondary">Cancelar</button>
                  <button (click)="deletePaciente(item.codigoPin)" class="btn btn-danger">Deletar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
