
<div *ngIf="isUserLogged;else userLogged">
    <div class="main">
        <aside class="sidebar">
            <ul>
              <li>Home Workspace</li>
              <li (click)="togglePacientes()">Meus Pacientes</li>           
              <li (click)="toggleCadastro()">Cadastrar Pacientes</li>                    
              <li>Dashboards</li>
              <li>Suporte</li>
            </ul>
        </aside>

        <app-tabela *ngIf="showCadastro" (pacienteCadastrado)="onPacienteCadastrado($event)"></app-tabela>

        <app-lista *ngIf="showPacientes" [employeeList]="employeeList" (employeeListChange)="employeeList = $event"></app-lista>

    </div>
</div>

<ng-template #userLogged>
    <app-login-message></app-login-message>
</ng-template>
