
.sidebar {
    background-color: white;
    width: 250px;
    padding: 20px;
    margin-top: 20dvh;
    margin-left: 2.5dvw;
    margin-right: 2.5dvw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;/* Distribui os itens com espaço igual ao redor */

    /* backgroud da nav */
    /* background-image: url(https://wallpapers.com/images/featured/dark-abstract-bsid6neh0qavpfd1.jpg);
    height: 90dvh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove a margem padrão */
    display: flex;
    flex-direction: column;
    height: 100%; /* Garante que a lista ocupe toda a altura disponível */
  }
  
  .sidebar li {
    width: 204px;
    padding: 25px;
    cursor: pointer;
    border-bottom: 1px solid #ddd; /* Linha separando os itens */
    transition: background-color 0.3s;
  }
  
  .sidebar li:last-child {
    border-bottom: none; /* Remover linha no último item */
  }
  
  .sidebar li:hover {
    background-color: #f0f0f0;
  }
  
  .sidebar li.selected {
    background-color: rgb(0, 123, 255,0.1);
    color: black;
  }
  
  .sidebar li.selected:hover {
    background-color: #0056b3;
  }
  

  .main{
    display: flex;
    flex-direction: row;
    align-self: center;

    /* background do content */
    /* background-image: url(https://wallpapers.com/images/featured/dark-abstract-bsid6neh0qavpfd1.jpg);
    height: 100dvh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  }




  @media (max-width: 768px){

    .sidebar{
        visibility: hidden;
    }

    .main{
        display: flex;
        flex-direction: column-reverse;
    }
  }