
<div *ngIf="isUserLogged;else userLogged">
    <div class="main">
        <aside class="sidebar">
            <ul>
              <li (click)="toggleHomeWorkspace()"> Home Workspace</li>
              <li (click)="togglePacientes()">Meus Pacientes</li>           
              <li (click)="toggleCadastro()">Cadastrar Pacientes</li>                    
              <li (click)="toggleDashboard()">Dashboards</li>
              <li (click)="toggleSuporte()">Suporte</li>
            </ul>
        </aside>
        <app-home-workspace *ngIf="showHomeWorkspace"></app-home-workspace>
        <app-tabela *ngIf="showCadastro" (pacienteCadastrado)="onPacienteCadastrado($event)"></app-tabela>
        <app-lista *ngIf="showPacientes" [employeeList]="employeeList" (employeeListChange)="employeeList = $event"></app-lista>

    </div>
</div>

<ng-template #userLogged>
    <app-login-message></app-login-message>
</ng-template>
