.top {
  display: flex; /* Usar flexbox para alinhar os itens */
  flex-direction: column; /* Colocar os itens em coluna */
  align-items: center; /* Centraliza horizontalmente os itens */
  text-align: center; /* Centraliza o texto dentro da seção */
  margin-bottom: 1%; /* Espaçamento abaixo do topo (60% de 2%) */
}

.top .imagem {
  margin-bottom: 1.2%; /* Espaçamento abaixo da imagem (60% de 2%) */
}

.top .imagem img {
  max-width: 100%; /* Mantém a responsividade da imagem */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 9px 9px 0 0; /* Arredonda os cantos superiores esquerdo e direito (60% de 15px) */
}

.row {
  display: flex; /* Permite que as colunas sejam flexíveis */
  flex-wrap: wrap; /* Permite que as colunas se movam para a próxima linha */
}

.top h3 {
  font-size: 1.7rem; /* Ajuste o tamanho da fonte para o h3 (60% de 1.5rem) */
  margin: 0; /* Remove margens adicionais, se necessário */
  padding-bottom: 3%;
}

.top p {
  font-size: 1rem; /* Ajuste o tamanho da fonte para o parágrafo (60% de 0.8rem) */
  margin: 0; /* Remove margens adicionais, se necessário */
}

form {
  width: 100%; /* Define a largura do formulário como 48% da largura do contêiner pai (60% de 80%)*/;
  margin: auto;  /* Centraliza o formulário horizontalmente */
  font-size: 0.54rem; /* Reduz o tamanho da fonte para 54% do tamanho padrão (60% de 0.9rem) */
  display: grid; /* Usa grid para o layout */
  grid-template-columns: 1fr; /* Define uma única coluna */
  gap: 0.6rem; /* Espaço entre os itens do grid (60% de 1rem) */

}

.form-group {
  margin-bottom: 0.6rem; /* Espaçamento abaixo dos grupos de formulário (60% de 1rem) */
}

label {
  font-size: 1rem; /* Tamanho da fonte dos rótulos (60% de 1rem) */
}

input, textarea {
  font-size: 0.9rem; /* Tamanho da fonte dos campos de entrada (60% de 1rem) */
  padding: 0.3rem; /* Padding interno dos campos (60% de 0.5rem) */
  width: 100%; /* Faz os campos ocuparem toda a largura disponível */
}

.btn {
  font-size: 0.6rem; /* Tamanho da fonte dos botões (60% de 1rem) */
  padding: 0.3rem 0.6rem; /* Padding dos botões (60% de 0.5rem e 1rem) */
  width: 60%; /* Faz os botões ocuparem toda a largura disponível */
}

.text-center {
  margin-top: 10px;
}

.custom-button {
  width: 28%; /* Ajuste a largura conforme necessário */
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #265468; /* Cor primária do botão */
  border-color: #265468; /* Cor da borda */
  font-size: 1.0rem;
}

.custom-button:hover {
  background-color: #5f8f9c; /* Cor ao passar o mouse */
  border-color: #5f8f9c; /* Cor da borda ao passar o mouse */
}

.btn-success{
  background-color: #265468; /* Cor ao passar o mouse */
  border-color: #5f8f9c; /* Cor da borda ao passar o mouse */
  width: 7dvw;
  height: 4dvh;
  font-size: 1rem;
}

.btn-secondary{
  width: 7dvw;
  height: 4dvh;
  font-size: 1rem;
}

.btn-success:hover{
  background-color: #5f8f9c; /* Cor ao passar o mouse */
  border-color: #5f8f9c; /* Cor da borda ao passar o mouse */
}

@media(max-width: 768px){
  .btn-success{
    width: 17dvw;
    height: 5dvh;
  }
  
  .btn-secondary{
    width: 17dvw;
    height: 5dvh;
  }
}