<img src="/dna.jpg" alt="">
<div class="form-container">
  <form action="#" class="form">
    <h2>Cadastre-se</h2>

    <div class="form-row">
      <div class="input-group">
        <div class="labels">
          <label for="firstname">Nome</label>
          <span id="firstname-error" class="error-message"></span>
        </div>
        <input [(ngModel)]="firstname" type="text" id="firstname" name="firstname" placeholder="Digite seu nome" required>
      </div>

      <div class="input-group">
        <div class="labels">
          <label for="lastname">Sobrenome</label>
          <span id="lastname-error" class="error-message"></span>
        </div>
        <input [(ngModel)]="lastname" type="text" id="lastname" name="lastname" placeholder="Digite seu sobrenome" required>
      </div>
    </div>

    <div class="form-row">
      <div class="input-group full-width">
        <div class="labels">
          <label for="email">Email</label>
          <span id="email-error" class="error-message"></span>
        </div>
        <input [(ngModel)]="email" type="email" id="email" name="email" placeholder="Digite seu email" required>
      </div>
    </div>

    <div class="form-row">
      <div class="input-group">
        <div class="labels">
          <label for="cpf">CPF</label>
          <span id="cpf-error" class="error-message"></span>
        </div>
        <input [(ngModel)]="cpf" type="text" id="cpf" name="cpf" placeholder="Digite seu CPF" required>
      </div>

      <div class="input-group">
        <div class="labels">
          <label for="phone">Telefone</label>
          <span id="phone-error" class="error-message"></span>
        </div>
        <input [(ngModel)]="phone" type="text" id="phone" name="phone" placeholder="Digite seu telefone" required>
      </div>
    </div>

    <div class="form-row">
      <div class="input-group full-width">
        <div class="labels">
          <label for="address">Endereço</label>
          <span id="address-error" class="error-message"></span>
        </div>
        <input [(ngModel)]="address" type="text" id="address" name="address" placeholder="Digite seu endereço" required>
      </div>
    </div>

    <div class="form-row">
      <div class="input-group">
        <div class="labels">
          <label for="dob">Data de Nascimento</label>
          <span id="dob-error" class="error-message"></span>
        </div>
        <input [(ngModel)]="dob" type="date" id="dob" name="dob" required>
      </div>
    </div>

    <div class="form-row">
      <div class="input-group">
        <div class="labels">
          <label for="username">Usuário</label>
          <span id="username-error" class="error-message"></span>
        </div>
        <input [(ngModel)]="username" type="text" id="username" name="username" placeholder="Digite seu usuário" required>
      </div>

      <div class="input-group">
        <div class="labels">
          <label for="password">Senha</label>
          <span id="password-error" class="error-message"></span>
        </div>
        <input [(ngModel)]="password" type="password" id="password" name="password" placeholder="Digite sua senha" required>
      </div>
    </div>

    <button type="button" class="submit-btn" (click)="onSubmit()">Criar Conta</button>
  </form>


  <!-- Mensagem de Confirmação -->
<div id="confirmation-message" class="confirmation-message">
  <app-confirmation-message></app-confirmation-message>
</div>
