<div class="main">
  <nav class="navbar">
    <ul>
      <li><a href="" >Sobre</a></li>
      <li><a href="">Serviços</a></li>
      <li><a href="" >Contato</a></li>
      <li><a href="">Atualizações</a></li>
    </ul>
  </nav>

  <div class="about">
    <h1>Seja bem-vindo ao nosso site</h1>
    <section id="sobre">
      <p>O PAT é uma aplicação web inovadora, desenvolvida para auxiliar profissionais de saúde na organização e controle de informações de seus pacientes. Com o objetivo de transformar desafios em soluções, o PAT surge como uma ferramenta que promove eficiência, colaboração e inteligência no cuidado com a saúde.</p>
    </section>

      <h1>Funcionalidades principais</h1>
    <section id="sobre">
      <h2>Suporte:</h2>
      <p>O PAT facilita o controle e acompanhamento de pacientes, armazenando informações essenciais para consultas e monitoramento. Ele oferece insights estratégicos que ajudam o profissional a tomar decisões mais assertivas, otimizando o cuidado ao paciente.</p>
    </section>

    <section id="sobre">
      <h2>Unir:</h2>
      <p>Quebrando barreiras entre profissionais de saúde, o PAT cria uma rede de colaboração, possibilitando a troca de informações e experiências. Essa integração promove um ambiente de aprendizado mútuo e aprimoramento contínuo na prática médica.</p>
    </section>

    <section id="sobre">
      <h2>Solucionar:</h2>
      <p>Com o auxílio de Hipócrates, nossa inteligência artificial inspirada no pai da Medicina, o PAT é capaz de gerar análises precisas de quadros clínicos, sugerir diagnósticos e indicar especialistas adequados para cada caso. Essa funcionalidade proporciona agilidade e assertividade no processo de tomada de decisão.</p>
    </section>
    
    <section id="sobre">
      <h2>"O PAT não é apenas uma ferramenta, é um parceiro no cuidado à saúde, pensado para transformar desafios em soluções e impulsionar a prática médica para um novo patamar de excelência."</h2>
    </section>
  </div>
</div>